<div class="container py-5">
    <div class="row py-5">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-6">
              <form>
                <div class="form-group mb-3"> <input class="form-control" id="id" type="text" placeholder="Id" required name="id" [(ngModel)]="guestDetails.id" readonly>
                </div>
                <div class="form-group mb-3"> <input class="form-control" id="fuulName" type="text" placeholder="Full Name" required
                    name="fullName" [(ngModel)]="guestDetails.fullName">
                </div>

                <div class="form-group mb-3"> <input class="form-control" id="email" type="email" placeholder="Email" required
                    name="email" [(ngModel)]="guestDetails.email">
                </div>

                <div class="form-group mb-3"> <input class="form-control" id="room" type="text" placeholder="Room" required
                    name="room" [(ngModel)]="guestDetails.room">
                </div>

                <div class="form-group mb-3"> <input class="form-control" id="checkIn" type="date" required name="checkIn"
                    [(ngModel)]="guestDetails.checkIn"> </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group mb-4"> <input class="form-control" id="checkOut" type="date" required name="checkOut"
                        [(ngModel)]="guestDetails.checkOut"> </div>
                  </div>
                </div>

                <div class="form-btn"> <button class="submit-btn1">Save</button>&nbsp;&nbsp;&nbsp; <button
                    class="submit-btn2">Delete</button>
                </div>
              </form>
        </div>
        <div class="col-lg-3">

        </div>
    </div>
</div>