.submit-btn2 {
  font-size: 17px;
  background-color: #BD241A;
  color: white;
  border: none;
  border-radius: 3px;
}

.submit-btn1 {
  font-size: 17px;
  background-color: #FEA116;
  color: white;
  border: none;
  border-radius: 3px;
}