<div class="container-fluid py-5">
  <div class="container py-5">
    <h2 class="text-center mb-3">Available Rooms</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="card text-center mb-2 ">
          <div class="RoomImg">
          </div>
          <div class="card-header">Arsenal (1 Room)</div>
          <div class="card-body">
            <h5 class="card-title py-2">N50,000</h5>

            <button type="button" class="book">Book</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-center ">
          <div class="RoomImg2">
          </div>
          <div class="card-header">Manchester (2 Rooms)</div>
          <div class="card-body">
            <h5 class="card-title py-2">N70,000</h5>

            <button type="button" class="book">Book</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-center mb-2 ">
          <div class="RoomImg3">
          </div>
          <div class="card-header">Exclusive (4 Rooms)</div>
          <div class="card-body">
            <h5 class="card-title py-2">N140,000</h5>

            <button type="button" class="book">Book</button>
          </div>
        </div>
      </div>

    </div>
    <div class="row py-4">
      <div class="col-lg-4">
        <div class="card text-center mb-2 ">
          <div class="RoomImg">
          </div>
          <div class="card-header">Arsenal (1 Room)</div>
          <div class="card-body">
            <h5 class="card-title py-2">N50,000</h5>

            <button type="button" class="book">Book</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-center mb-2 ">
          <div class="RoomImg2">
          </div>
          <div class="card-header">Manchester (2 Rooms)</div>
          <div class="card-body">
            <h5 class="card-title py-2">N70,000</h5>

            <button type="button" class="book">Book</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-center mb-2">
          <div class="RoomImg3">
          </div>
          <div class="card-header">Exclusive (4 Rooms)</div>
          <div class="card-body">
            <h5 class="card-title py-2">N140,000</h5>

            <button type="button" class="book">Book</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
