.RoomImg {
  background-image: url(/assets/free-room-01-min.jpg);
  height: 150px;
  background-size: contain;
}

.RoomImg2 {
  background-image: url(/assets/slide02-min.jpg);
  height: 150px;
  background-size: contain;
}

.RoomImg3 {
  background-image: url(/assets/free-room-02-min.jpg);
  height: 150px;
  background-size: contain;
}

.RoomImg4 {
  background-image: url(/assets/room-03.jpg);
  height: 150px;
  background-size: contain;
}

.RoomImg5 {
  background-image: url(/assets/Fotolia_163203222_Subscription_Monthly_M-370x250.jpg);
  height: 150px;
  background-size: contain;
}

.RoomImg6 {
  background-image: url(/assets/Fotolia_202739866_Subscription_Monthly_XXL.jpg);
  height: 150px;
  background-size: contain;
}

.card-header {
  background-color: #FEA116;
  color: white;
  font-family: 'Mulish',
    sans-serif;
}

.book {
  background-color: #FEA116;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Mulish',
    sans-serif;
}

.bookSection {
  background-image: url(/assets/Fotolia_202739866_Subscription_Monthly_XXL.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  align-items: center;
  align-content: center;
}

.bookText {
  font-weight: 500;
  text-align: center !important;
  justify-content: center;
  color: white;
  font-family: 'Mulish',
    sans-serif;
}

.btn2 {
  background-color: #FEA116;
  padding: 13px;
  color: black;
  border: none;
  font-family: 'Mulish',
    sans-serif;
  font-size: 15px;
}

/* offcanvas css */
.arsenal {
  background-image: url(/assets/free-room-01-min.jpg);
  background-size: cover;
  background: fill;
  background-position: center;
}
.exclusive {
  background-image: url(/assets/free-room-02-min.jpg);
  background-size: cover;
  background: fill;
  background-position: center;
}
.manchester {
background-image: url(/assets/slide02-min.jpg);
  background-size: cover;
  background: fill;
  background-position: center;
}

.standardDouble {
  background-image: url(/assets/Fotolia_202739866_Subscription_Monthly_XXL.jpg);
  background-size: cover;
  background-position: center;
}

.studioOffcanvas {
  background-image: url(/assets/Fotolia_163203222_Subscription_Monthly_M-370x250.jpg);
  background-size: cover;
  background-position: center;
}

.offcanvas-body {
  background-image: url(/assets/room-03.jpg);
  background-size: cover;
  background-position: center;
}


.booking-form {
  width: 100%;
}


.booking-form .form-group {
  position: relative;
  margin-bottom: 30px
}

.booking-form .form-control {
  background-color: white;
  height: 50px;
  border: 2px solid #DFDFDF;
  padding: 0px 25px;
  border: none;
  color: black;
  -webkit-box-shadow: 0px 0px 0px 2px transparent;
  box-shadow: 0px 0px 0px 2px transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s
}

.booking-form .form-control::-webkit-input-placeholder {
  color: black;
  font-family: 'Mulish',
    sans-serif;
}

.booking-form .form-control:-ms-input-placeholder {
  color: black;
  font-family: 'Mulish',
    sans-serif;
}

.booking-form .form-control::placeholder {
  font-family: 'Mulish',
    sans-serif;
  color: black;
}

.booking-form .form-control:focus {
  -webkit-box-shadow: 0px 0px 0px 2px #FEA116;
  box-shadow: 0px 0px 0px 2px #FEA116;
}

.booking-form input[type="date"].form-control {
  padding-top: 16px;
  font-family: 'Mulish',
    sans-serif;
}

.booking-form input[type="date"].form-control:invalid {
  color: black;
  font-family: 'Mulish',
    sans-serif;
}

.booking-form input[type="date"].form-control+.form-label {
  opacity: 1;
  top: 10px;
  font-family: 'Mulish',
    sans-serif;
}

.booking-form select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Mulish',
    sans-serif;
}

.booking-form select.form-control:invalid {
  color: black;
  font-family: 'Mulish',
    sans-serif;
}

.booking-form select.form-control+.select-arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  line-height: 32px;
  height: 32px;
  text-align: center;
  pointer-events: none;
  color: black;
  font-size: 14px;
  font-family: 'Mulish',
    sans-serif;
}

.booking-form select.form-control+.select-arrow:after {
  content: '\279C';
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}

.booking-form select.form-control option {
  color: #000
}

.booking-form .form-label {
  position: absolute;
  top: -10px;
  left: 25px;
  opacity: 0;
  color: #FEA116;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  height: 15px;
  line-height: 15px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  font-family: 'Mulish',
    sans-serif;
}

.booking-form .form-group.input-not-empty .form-control {
  padding-top: 16px;
  font-family: 'Mulish',
    sans-serif;
}

.booking-form .form-group.input-not-empty .form-label {
  opacity: 1;
  top: 10px;
  font-family: 'Mulish',
    sans-serif;
}

.booking-form .submit-btn {
  color: #fff;
  background-color: #FEA116;
  font-weight: 700;
  height: 60px;
  padding: 10px 30px;
  width: 100%;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1.3px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  font-family: 'Mulish',
    sans-serif;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
  opacity: 0.9
}

.controlValue {
  font-size: 20px !important;
  font-weight: 600;
}
