.hero {
  background-image: url(/assets/1922.jpg);
  height: 95vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.heroText {
  color: white;
  font-weight: 500;
  margin-top: 50px;
  font-family: 'Mulish',
  sans-serif;
}

.heroBtn {
  color: black;
  background-color: #FEA116;
  padding: 13px;
  border: none;
  margin-top: 20px;
}
.lead{
  font-family: 'Mulish',
  sans-serif;
}


