<div class="containter-fluid py-5 hero">
  <div class="container py-5">
    <div class="py-5">
    <h1 class="display-4 text-center heroText mb-3">GALAXY HOTEL</h1>
    <p class="lead text-center text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nam consequatur
      dolore quos in vitae quasi placeat eaque commodi numquam ab, veniam officia laudantium vel, accusantium qui
      repellendus tempore sequi.</p>

    <div class="d-flex justify-content-center">
      <button type="button" class="heroBtn">BOOK NOW</button>
    </div>
    </div>

  </div>
</div>

