<!-- <nav class="navbar navbar-expand-lg shadow-sm p-3 navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand mx-5" href="#"><img src="/assets/logo (1).png" alt="Logo" style="height: 30px;"
        width="140px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Rooms
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Single Room</a></li>
            <li><a class="dropdown-item" href="#">2 Rooms</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">More Rooms</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link">Contact Us</a>
        </li>
      </ul>
      <div class="d-flex"> -->


        <!-- <a class="nav-link link1" data-bs-toggle="modal" data-bs-target="#exampleModal2" href="#"></a> -->


        <!-- <a class="nav-link link2" data-bs-toggle="modal" data-bs-target="#exampleModal" routerLink="/">Logout</a> -->

        <!-- Offcanvas  -->
        <!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
        aria-controls="offcanvasRight">Toggle right offcanvas</button> -->

      <!-- </div>
    </div>
  </div>
</nav> -->




<div class="wrapper">

  <nav id="sidebar">
    <div class="sidebar-header d-flex justify-content-center">
      <img class="py-4" src="/assets/logo (1).png" alt="logo" style="width: 120px;">
    </div>

    <ul class="list-unstyled components mt-5 text-center">
      <li class="active">
        <a class="links" href="#">Dashboard</a>
      </li>
      <li>
        <a class="links" href="#">Tables</a>
      </li>
      <li>
        <a class="links" href="#">Charts</a>
      </li>
      <li>
        <a class="links" href="#">Support</a>
      </li>
      <li>
        <a class="links" href="#">Contact</a>
      </li>
    </ul>

    <ul class="list-unstyled CTAs mt-5">
      <li>
        <a href="#" class="log">Log Out</a>
      </li>
      <li>
        <a routerLink="/" class="backhome">Back to home</a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">

<div class="container py-5">
    <div class="row py-5" *ngFor=" let user of users">
<h3 class="welcome px-5">
    Welcome, {{user.fullName}}
</h3>

<div class="details py-5 px-5" >
    <h5 class="name">Full Name: <span class="px-3"> {{user.fullName}} </span></h5>
    <hr>
    <h5 class="name">Email Address: <span class="px-3">{{user.email}}</span></h5>
    <hr>
    <h5 class="name">Phone: <span class="px-3"> {{user.phone}}</span></h5>
    <hr>
    <h5 class="name">Address: <span class="px-3">{{user.address}}</span></h5>
    <hr>
    <h5 class="name">Country: <span class="px-3">{{user.country}}</span></h5>
    <hr>
</div>
    </div>
</div>

    </div>
</div>